<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="fortuneService" class="com.venkat.spring.HappyFortuneService"></bean>
    
    <bean id="myBaseBallCoach" class="com.venkat.spring.BaseBallCoach"
    	init-method="myInitMethod" destroy-method="myDestoryMethod"
    	scope="prototype"
    	>
    	<constructor-arg ref="fortuneService"></constructor-arg>
    </bean>
    
    <bean id="myCricketCoach" class="com.venkat.spring.CricketCoach">
    	<property name="fortuneService" ref="fortuneService"></property>
    </bean>
</beans>





